<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" > -->
    <header class="navbar navbar-expand-md navbar-dark flex-md-row sticky-top">
        <ul class="navbar-nav flex-row">
          <!-- left and right navigation -->
            <li class="nav-item hide-flech" [ngClass]="{'navbar-search-hidden' : searchIsOpen }">
              <a class="btn btn-md" href="#">
                <i class="fa fa-arrow-left"></i>
              </a>
            </li> 
    
            <li class="nav-item hide-flech" [ngClass]="{'navbar-search-hidden' : searchIsOpen }">
              <a class="btn btn-md" href="#">
                <i class="fa fa-arrow-right"></i>
              </a>
            </li> 
          <!--/-->
          <!-- home -->
            <li class="nav-item" [ngClass]="{'navbar-search-hidden' : searchIsOpen }"
                [routerLinkActive]="['active']" 
                [routerLinkActiveOptions] = "{exact:true}">
                <a  class="btn btn-md btn-home"  [routerLink]="['/']">
                  <i class="fa fa-home"></i>
                </a>
            </li>
          <!--/-->
          <!-- name of current page -->
          <li   class="nav-item"  [ngClass]="{'navbar-search-hidden' : searchIsOpen }"
                [routerLinkActive]="['active']" 
                [routerLinkActiveOptions] = "{exact:true}">
              <button class="btn btn-md btn-map" >Shangri-La..</button>
          </li>
          <!--/-->
          <!-- search -->
            <li class="nav-item">
              <form class="" title="Search">
                <div  class="navbar-search" [ngClass]="{'navbar-search-close':!searchIsOpen}">
                  <input  [(ngModel)]="searchText" name="searchText"
                          (ngModelChange)="onSearchHandler()" 
                          (keydown.escape)="emptySearch()"
                          type="text" class="form-control" 
                          autocomplete="off" 
                          placeholder="Search"
                          aria-invalid="false">
                  <div  class="search-icon" 
                        (click)="searchIsOpen = !searchIsOpen;">
                      <i  class="fa fa-search" aria-hidden="true"></i>
                  </div>
                </div>
                <div  *ngIf="searchResult.length>0" 
                      [hidden]="!searchIsOpen" 
                      class="section-search animate-section verticalScrollBarSearch">
                      <ul >
                    <li (click)="searchThought(x,$event)" 
                        *ngFor="let x of searchResult" tabindex="0">
                      <img *ngIf="x.images && x.images.length>0" src="{{x.images[0].indexOf('http') == -1 ? pathOfImage+x.images[0] : x.images[0]}}" alt="" />
                      <div [ngStyle]="{'margin-left':x.images && x.images.length>0 ? '45px' :'5px'}" 
                          style="padding-top: 1px;">
                        <span title="{{x.name}}" 
                              [innerHTML]="x.name | search:searchText "></span>
                        <i *ngIf="x.origin && x.origin.nameTableOrigin" >
                              ({{x.origin.nameTableOrigin | searchOrigin}})
                        </i>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
            </li>
          <!--/-->
        </ul>
        <!--login or profile -->
        <ul class="navbar-nav ml-md-auto flex-row navbar-right" >
          <!-- login button -->
          <li   *ngIf="!authService.loggedIn()" 
                class="nav-item" 
                [ngClass]="{'navbar-search-hidden' : searchIsOpen }"
                [routerLinkActive]="['active']" 
                [routerLinkActiveOptions] = "{exact:true}">
              <a class="btn btn-md btn-outline-secondary" 
                [routerLink]="['/login']">Log in</a>
          </li>
          <!-- profile -->
          <!--/-->  
          <li   *ngIf="authService.loggedIn()" 
                class="nav-item dropdown show" 
                [ngClass]="{'navbar-search-hidden' : searchIsOpen }"
                [routerLinkActive]="['active']" 
                [routerLinkActiveOptions] = "{exact:true}">
              <a class="btn btn-md btn-home" 
                [routerLink]="['/profile']">Rijks..</a>
          </li>
          <!--/-->  
        </ul>
        <!--/-->  
          <button  *ngIf="authService.loggedIn()" 
                [ngClass]="{'navbar-search-hidden' : searchIsOpen }"
                class="navbar-toggler collapsed" 
                type="button" data-toggle="collapse" 
                data-target="#navbarsExampleDefault" 
                aria-controls="navbarsExampleDefault" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div  *ngIf="authService.loggedIn()" 
                class="navbar-collapse collapse" id="navbarsExampleDefault" 
                [ngClass]="{'navbar-search-hidden' : searchIsOpen }">
            <ul class="nav navbar-nav ml-md-auto">
              <li class="nav-item dropdown show" >
                <a href="#"  class="nav-link mr-md-2 hide-collapse"
                  data-toggle="dropdown" role="button" 
                  aria-haspopup="true" aria-expanded="false">
                    <span class="mat-button-wrapper">
                      <i class="fa fa-ellipsis-v" 
                          style="font-size: 25px;"></i>
                    </span> 
                </a>
                <ul class="dropdown-menu dropdown-menu-right show" aria-labelledby="hide-collapse">
                  <li><a class="dropdown-item" href="#" >Rijks museum<br>
                        <span style="font-size: 10px; color:red;">+212611111111</span>
                      </a>
                  </li>
                  <li role="separator" class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a></li>
                  <li role="separator" class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="onLogoutClick()" href="#">Logout</a></li>
                </ul>
              </li>    
                
            </ul>     
          </div>
    </header>
    